body{
    background-color: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

form{
    width: 50%;
    margin: auto;
}

input{
    width: 100%;
    background-color: #444;
    border: 0;
    color: white;
}

select{
    width: 100%;
    background-color: #444;
    border: 0;
    color: white;
}

.checks{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

div{
    background-color: #333;
    margin-bottom: 15px;
}

.noMarginDiv{
    margin-bottom: auto;
    background-color: #333;
}

.mainDiv{
    margin-bottom: auto;
    background-color: #222;
}

.criarButton{
    background-color: blueviolet;
    border: 0;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}